body{
    text-align: center;
    font-family: Open Sans, sans-serif;
    background-color: #7d7591;
    color:#fcf8f8;
    margin: 0;
  }

  section{
    width:60%; 
    margin: 0 auto;
    border:#605b6b 1px;   
    padding: 10px; 
  }
  
  img{
    width: 30%;
    align-content: left;
    padding: 10px;
    margin: 10px;
  }

  a{
    width: 30%;
    align-content: left;
    padding: 10px;
    margin: 10px;
  }

  p{
    line-height: 1.5;
    font-size: 20px;
    text-align: justify;
  }